fastapi==0.104.1
uvicorn==0.24.0
pydantic
python-dotenv==1.0.0
alpaca-trade-api==3.2.0
websockets==10.4
langchain_google_genai
typing-extensions
langchain-experimental
pandas
yfinance
praw
feedparser
stockstats
IPython
langgraph
chromadb
setuptools
backtrader
akshare
tushare
finnhub-python
parsel
requests
tqdm
pytz
redis
chainlit
rich
questionary
langchain-google-genai
alpaca-trade-api
